.blue{
    color: rgba(19, 129, 230, 0.8);
}
.main{
    min-width: 100%;
    height: 100%;
}
.main::before{
    content: "";
    background: url('./cet\ landing\ page.png');
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.Hero-content-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.Explorecard {
    /* float: left; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 30%;
    height: 420px;
    margin-top: 150px;
    margin-left: 100px;
    background: rgb(8, 23, 65);
    border-radius: 20px;
    box-shadow: 0 4.5px 10px wheat;
}
.ExploreContent{
    padding: 50px;
}
.heroText{
    color: #fff;
    font-size: 28px;
    font-family:'Inter', sans-serif;  
}
.cardButton{
    margin-top: 100px;
}
.cardButton button{
    padding: 8px 30px;
    background-color: #1799E1;
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
}
.cardButton button a{
    text-decoration: none;
    color: #fff;
}
.DivHeroTitle{
    /* float: right; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-right: 200px;
    margin-top: 260px;
}
.HeroTitle{
    color: #fff;
    font-size: 120px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;   
}

@media screen and (max-width: 1280px) {
    .Explorecard{
        width: 30%;
        height: 400px;
        margin-top: 120px;
        margin-left: 100px;
    }
    .ExploreContent{
        padding: 50px;
    }
    .heroText{
        font-size: 28px;
    }
    .cardButton{
        margin-top: 60px;
    }
    .cardButton button{
        padding: 8px 30px;
        font-size: 18px;
    }
    .DivHeroTitle{
        margin-right: 180px;
        margin-top: 240px;
    }
    .HeroTitle{
        font-size: 100px;
        font-weight: 700;
        font-family: 'Inter', sans-serif;   
    }
}
@media screen and (max-width: 1200px) {
    .Explorecard{
        justify-content: center;
        align-items: center;
        width: 40%;
        height: 380px;
        margin-top: 120px;
        margin-left: 60px;
    }
    .ExploreContent{
        padding: 50px;
    }
    .heroText{
        font-size: 26px;
    }
    .cardButton{
        margin-top: 60px;
    }
    .cardButton button{
        padding: 8px 30px;
        font-size: 18px;
    }
    .DivHeroTitle{
        margin-right: 100px;
        margin-top: 240px;
    }
    .HeroTitle{
        font-size: 100px;
        font-weight: 700;
        font-family: 'Inter', sans-serif;   
    }
}
@media screen and (max-width: 992px) {
    .Explorecard{
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 380px;
        margin-top: 120px;
        margin-left: 20px;
    }
    .ExploreContent{
        padding: 35px;
    }
    .heroText{
        font-size: 24px;
    }
    .cardButton{
        margin-top: 50px;
    }
    .cardButton button{
        padding: 8px 30px;
        font-size: 18px;
    }
    .DivHeroTitle{
        margin-right: 20px;
        margin-top: 240px;
    }
    .HeroTitle{
        font-size: 85px;
        font-weight: 700;
        font-family: 'Inter', sans-serif;   
    }
}
@media screen and (max-width: 768px) {
    .Explorecard{
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 330px;
        margin-top: 150px;
        margin-left: 10px;
    }
    .ExploreContent{
        padding: 25px;
    }
    .heroText{
        font-size: 20px;
    }
    .cardButton{
        margin-top: 40px;
    }
    .cardButton button{
        padding: 8px 30px;
        font-size: 16px;
    }
    .DivHeroTitle{
        margin-right: 10px;
        margin-top: 260px;
    }
    .HeroTitle{
        font-size: 80px;
        font-weight: 700;
        font-family: 'Inter', sans-serif;
    }
}
@media screen and (max-width: 576px) {
    .Hero-content-container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;  
    }
    .Explorecard{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 65%;
        margin-left: 18%;
    }
    .HeroTitle{
        font-size: 80px;
        font-weight: 700;
        font-family: 'Inter', sans-serif;
        margin-top: -110px;
    }
}
@media screen and (max-width: 415px) {
    .Hero-content-container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;  
    }
    .Explorecard{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 65%;
        margin-left: 18%;
    }
    .HeroTitle{
        font-weight: 700;
        font-family: 'Inter', sans-serif;
        margin-top: -110px;
        font-size: 75px;
    }
}

